.rrr{
    margin-left: 3cm;
    background-color: lightgrey;
    width: 400px;
    border: 8px solid gray;
    padding: 50px;
    margin: 20px;
    margin-left: 15cm;
  
}
.jjj{
    margin-right: 4cm;
}